src/com/extant/vl2/CHART-v3.0.DTD

<?xml version='1.0' encoding='utf-8'?>

<!-- DTD for VL Chart of Accounts -->

<!-- Attribute 'format' contains a comma-separated list of zero or more of these options:
     newpage - start a new page before printing this element
     center  - center the title of this element
     ending  - print the end date of this statement centered on the line following this element
     period  - print the period of this statement centered on the line following this element
     skip    - print a blank line following this element
-->

<!ELEMENT chart (section,section)>
<!ATTLIST chart
	version    CDATA    #FIXED "3.0"
	conum      CDATA    #REQUIRED
	title      CDATA    #REQUIRED
	showacct   (Y | N)  "N"
	indent     CDATA    "3"
	edit       CDATA    "(,"
	date       CDATA    "mmmm dd, yyyy"
	shortdate  CDATA    "mm-dd-yy"
        format     CDATA    #IMPLIED
>
	
<!ELEMENT section ((group* | (account)*)*, total)>
<!ATTLIST section
	title      CDATA     #REQUIRED
        format     CDATA     #IMPLIED
>

<!ELEMENT group ((group* | (account)*)*, total)>
<!ATTLIST group
	title      CDATA     #REQUIRED
        format     CDATA     #IMPLIED
>

<!ELEMENT account (glentry*)>
<!ATTLIST account
	type       (A | L | I | E | R) #REQUIRED
	id         ID        #IMPLIED
	no         CDATA     #REQUIRED
	amount     CDATA     "0"
	title      CDATA     #REQUIRED
        format     CDATA     #IMPLIED
>

<!ELEMENT total EMPTY>
<!ATTLIST total
	type       (A | L | I | E | R | X) #REQUIRED
	title      CDATA     #REQUIRED
	amount     CDATA     "0"
        format     CDATA     #IMPLIED
>

<!ELEMENT glentry EMPTY>
<!ATTLIST glentry
        jref       CDATA     #REQUIRED
        sequence   CDATA     #REQUIRED
        status     CDATA     #REQUIRED
	drcr       (C | D)   #REQUIRED
        conum      CDATA     #REQUIRED
        amount     CDATA     #REQUIRED
        descr      CDATA     #REQUIRED
        date       CDATA     #REQUIRED
>


